@use "../../styles/main" as *;
@use "../../styles/variables" as *;

.crypto-bar {
    display: flex;
    overflow-x: scroll;
    gap: 30px;
    padding: 20px;
    height: 126px;
    width: 100%;
    background-color: $color-dark-blue;
}