@use "../../styles/main" as *;
@use "../../styles/variables" as *;

.for-pages {
  background-color: $color-white;
  color: $text-black;
}
.for-homepage {
  background-color: $color-dark-blue;
}

.white-text {
  color: $text-white;
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  padding: 0 20px;
}

.white-text:hover {
  cursor: pointer;
}

.black-text:hover {
  cursor: pointer;
}

.black-text {
  color: $text-black;
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  padding: 0 20px;
}

.item-white {
  color: $text-white;
  font-size: 22px;
}

.item-white:hover {
  text-decoration: underline;
  cursor: pointer;
  border: 2px solid $color-gray;
  border-bottom: none;
  border-radius: 5px;
  padding: 0 20px;
}

.item-black {
  color: $text-black;
  font-size: 22px;
}

.item-black:hover {
  text-decoration: underline;
  cursor: pointer;
  border: 2px solid $color-gray;
  border-bottom: none;
  border-radius: 5px;
  padding: 0 20px;
}

.topNav {
  width: 100vw;
  height: 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav-items {
    display: flex;
    align-items: center;

    &--options {
      display: flex;
      gap: 40px;
      padding: 0 50px;
    }
  }
}
