@use "../../styles/main" as *;
@use "../../styles/variables" as *;

.homepage {
  background-color: $color-dark-blue;
  height: 100vh;

  .homepage-wrap {
    display: flex;
    align-items: center;
    height: 600px;
    border-top: 1px solid $color-white-translucent;
  }

  &__text {
    padding: 10px;
    margin: 20px 0 20px 150px;
    
    &--h1 {
      color: $text-white;
      font-size: 60px;
    }
  }

  &__appPicture {
    border-radius: 10px;
    margin-right: 150px;

    &--appPic {
      width: 640px;
      border-radius: 10px;
    }
  }
}
